.content {
    margin: 20px;
}

.row {
    margin-top: 10px
}

.btn {
    margin-top: 10px
}

table, td, th, tr > th {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}