<div class="content-form">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="produto.nome"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preço</mat-label>
      <input type="number" matInput [(ngModel)]="produto.preco"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select [(ngModel)]="categoriaid">
        @for (categoria of categorias; track categoria) {
          <mat-option [value]="categoria.id">{{ categoria.nome }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-select [(ngModel)]="tagsIds" multiple>
        @for (tag of tags; track tag) {
          <mat-option [value]="tag.id">{{ tag.nome }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button (click)="salvar()" cdkFocusInitial>Salvar</button>
  </mat-dialog-actions>
</div>
